<!DOCTYPE html>
<html>
<head>
<title>AlumTu:Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}

</style>
</head>
<body class="w3-light-grey">

<!-- Header -->
<header class="w3-display-container w3-content">
  <img class="w3-image" src="https://ci.tu.ac.th/uploads/ci/ci-logo.svg" style="width:500px;height:200px;">
  <r>
  	<div class="w3-display-right w3-padding w3-col l6 m8">
    	<div class="w3-container w3-display-right w3-padding-8">
      	<form action="/action_page.php" target="_blank">
        	<div class="w3-row-padding" style="margin:5px -16px;">
          	<div class="w3-half w3-margin-bottom">
            	<label><i class="fa fa-envelope"></i> Email</label>
            	<input class="w3-input w3-border" type="text" placeholder="abcdef@mail.com" name="Email" required>
          	</div>
        	</div>
        	<div class="w3-row-padding" style="margin:5px -16px;">
          	<div class="w3-half w3-margin-bottom">
            	<label><i class="fa fa-lock"></i> Password</label>
            <input class="w3-input w3-border" type="text" placeholder="" name="Email" required>
          </div>
        </div>
        <div>
        <button class="w3-button w3-dark-grey" type="submit"><i></i> Login</button>
        </div>
      </form>
    </div>
  </div>
  </r>
</header>

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large w3-down">
  <a href="#home" class="w3-bar-item w3-button w3-red w3-mobile"><i class="w3-margin-center"></i>Home</a>
  <a href="#profile" class="w3-bar-item w3-button w3-mobile">Profile</a>
  <a href="#career" class="w3-bar-item w3-button w3-mobile">Career</a>
  <a href="#dashboard" class="w3-bar-item w3-button w3-mobile">Dashboard</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Thammasat University News</h3>
  </div>

  <div class="w3-row-padding w3-padding-8">
    <div class="w3-third w3-margin-bottom">
    <button>
      <img src="https://www.khaosod.co.th/wpapp/uploads/2022/04/%E0%B8%A7%E0%B8%B1%E0%B8%84%E0%B8%8B%E0%B8%B5%E0%B8%99-90-%E0%B9%80%E0%B8%82%E0%B9%87%E0%B8%A1.jpg" alt="Norway" style="width:500px;height:200px;">
      <div class="w3-container w3-white">
        <h3>ข่าวโควิด</h3>
        <p>ข่าวใหม่ สดๆร้อนๆ ออกจากเตา พลาดได้ไง ไม่รู้ไม่ได้แล้ว รีบกดเข้ามาอ่าน ไม่งั้นจะเสียใจที่ไม่ได้กดเข้ามาอ่านเพราะจริงๆ ต้องกดเข้ามาอ่าน แต่ทำไมไม่กดเข้ามาอ่าน คนที่ทำข่าวเขาก็ไม่ได้เงิน แต่อ่านวันละนิด ถือว่าช่วยๆกัน ก็แค่กดเข้าไปอ่านมันยากมากหรอ อ่านนานๆหน่อย ลองหาไรอย่างอื่นอ่านด้วย อย่าอ่านแแปปเดียว แต่ที่อ่านมาจนจบนี่ก็ถือว่านานอยู่นะ ก็ดีงั้นอ่านต่ออีกหน่อย ยิ่งอยู่อ่านนานยิ่งจะได้เงินเยอะ</p>
      </div>
      </button>
    </div>
    <div class="w3-third w3-margin-bottom">
    <button>
      <img src="https://th.jobsdb.com/th-th/wp-content/uploads/sites/3/2021/12/Cover-Letter.jpg" alt="Norway" style="width:500px;height:200px;">
      <div class="w3-container w3-white">
        <h3>ประกาศกระทรวงล่าสุด</h3>
        <p>ข่าวใหม่ สดๆร้อนๆ ออกจากเตา พลาดได้ไง ไม่รู้ไม่ได้แล้ว รีบกดเข้ามาอ่าน ไม่งั้นจะเสียใจที่ไม่ได้กดเข้ามาอ่านเพราะจริงๆ ต้องกดเข้ามาอ่าน แต่ทำไมไม่กดเข้ามาอ่าน คนที่ทำข่าวเขาก็ไม่ได้เงิน แต่อ่านวันละนิด ถือว่าช่วยๆกัน ก็แค่กดเข้าไปอ่านมันยากมากหรอ อ่านนานๆหน่อย ลองหาไรอย่างอื่นอ่านด้วย อย่าอ่านแแปปเดียว แต่ที่อ่านมาจนจบนี่ก็ถือว่านานอยู่นะ ก็ดีงั้นอ่านต่ออีกหน่อย ยิ่งอยู่อ่านนานยิ่งจะได้เงินเยอะ</p>
      </div>
    </div>
    </button>
    <div class="w3-third w3-margin-bottom">
    <button>
      <img src="https://image.dek-d.com/27/0271/8232/132311071" alt="Norway" style="width:500px;height:200px;">
      <div class="w3-container w3-white">
        <h3>ปฏิทินนักศึกษา</h3>
        <p>ข่าวใหม่ สดๆร้อนๆ ออกจากเตา พลาดได้ไง ไม่รู้ไม่ได้แล้ว รีบกดเข้ามาอ่าน ไม่งั้นจะเสียใจที่ไม่ได้กดเข้ามาอ่านเพราะจริงๆ ต้องกดเข้ามาอ่าน แต่ทำไมไม่กดเข้ามาอ่าน คนที่ทำข่าวเขาก็ไม่ได้เงิน แต่อ่านวันละนิด ถือว่าช่วยๆกัน ก็แค่กดเข้าไปอ่านมันยากมากหรอ อ่านนานๆหน่อย ลองหาไรอย่างอื่นอ่านด้วย อย่าอ่านแแปปเดียว แต่ที่อ่านมาจนจบนี่ก็ถือว่านานอยู่นะ ก็ดีงั้นอ่านต่ออีกหน่อย ยิ่งอยู่อ่านนานยิ่งจะได้เงินเยอะ</p>
      </div>
      </button>
    </div>
  </div>
  
      <!-- Image of location/map -->
      <img src="https://thematter.co/wp-content/uploads/2021/09/%E0%B8%A1%E0%B8%98%E0%B8%98.jpg" class="w3-image w3-greyscale" style="width:500px;height:500px;">
    </div>
  </div>

  <div class="w3-container">
    <h3>Today News</h3>
  </div>
  
  <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
      <button>
        <img src="https://sci.tu.ac.th/wp-content/uploads/2021/10/%E0%B8%97%E0%B8%B8%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%88%E0%B8%B1%E0%B8%A2-02-1024x684.jpg" alt="Cinque Terre" style="width:100%">
      </button>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
          <button>
            <img src="https://sci.tu.ac.th/wp-content/uploads/2021/10/%E0%B8%97%E0%B8%B8%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%88%E0%B8%B1%E0%B8%A2-01-1024x684.jpg" alt="New York" style="width:100%">
          </button>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
          <button>
            <img src="https://cdni-hw.ch7.com/dm/sz-md/i/images/2021/02/16/602b8af7396926.24118229.jpg" alt="San Francisco" style="width:100%">
          </button>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
          <button>
            <img src="https://cdni-hw.ch7.com/dm/sz-md/i/images/2021/08/16/611a4cabedbbd0.51415820.jpg" alt="Pisa" style="width:100%">
          </button>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
          <button>
            <img src="https://img.pptvhd36.com/thumbor/2021/03/08/news-b3065d753f.jpg" alt="Paris" style="width:100%">
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
<footer class="w3-padding-32 w3-red w3-center w3-margin-top">
<div class="w3-container" id="contact">
    <h2>Contact</h2>
    <i class="fa fa-map-marker w3-text-white" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone w3-text-white" style="width:30px"></i> Phone : +00 151515<br>
    <i class="fa fa-envelope w3-text-white" style="width:30px"> </i> Email : mail@mail.com<br>
  </div>
</footer>

</body>
</html>
